{% extends "Base/Base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('Styles/Teacher/Teacher.css')}}">
    <link rel="stylesheet" href="{{ asset('Styles/Base/List.css')}}">
    <link rel="stylesheet" href="{{ asset('Styles/PopUp/PopUp.css')}}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('JS/Teacher/RowOrderer.js') }}" defer></script>
{% endblock %}

{% block headerLeft %}
    {% include 'Teacher/Assets/ButtonRoom.html.twig' %}
{% endblock %}

{% block popup %}
    {# {{ include ('PopUp/PopUp.html.twig') }} #}
{% endblock %}

{% block pageFooter %}
    <button onclick="addToPath('/create-student');">Crée un élève</button>
    <button ><a href="{{ asset('ConsentForm/Base/Formulaire-de-Consentement-Organizing-History.pdf') }}" download="Formulaire-de-Consentement-Organizing-History.pdf">Téléchager le modèle de formulaire</a></button>
    <button onclick="subToPath('/manage-students')">Revenir au salon</button>
{% endblock %}